* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(
            to right bottom,
            rgba(143, 193, 227, 0.6),
            rgba(143, 193, 227, 0.6)
        ),
        url(../img/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* Photo by v2osk: "https://unsplash.com/@v2osk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"  */
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

.panel {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    max-height: 100vh;
    padding: 30px 0;
    align-items: flex-start;
    overflow: scroll;
    justify-content: space-between;
}

.panel__excursions {
    width: 70%;
}

.excursions {
    display: flex;
    flex-wrap: wrap;
}

.excursions__item {
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 5px 10px;
    padding: 20px;
    width: 400px;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgba(247, 249, 251, 0.5);
    box-shadow: 2px 11px 15px 7px rgba(0, 0, 0, 0.11);
}

.excursions__description {
    padding-top: 20px;
    padding-bottom: 20px;
}

.excursions__form {
    background-color: rgba(247, 249, 251, 0.4);
    padding: 10px;
    border: 1px solid rgba(247, 249, 251, 0.5);
}

.excursions__field {
    padding: 5px;
}

.excursions__field-input--submit {
    height: 30px;
    width: 150px;
    margin: 5px 0;
    border-radius: 8px;
    background-color: rgba(143, 193, 227, 1);
}

.excursions__field-input--submit:active,
.excursions__field-input--submit:hover {
    background-color: rgb(55, 185, 194);
}

.panel__form {
    margin: 0 30px;
    width: 200px;
    padding: 20px;
    height: 60vh;
    border: 1px solid #bbb;
    border-radius: 5px;
    background-color: rgba(247, 249, 251, 0.7);
    box-shadow: 2px 11px 15px 7px rgba(0, 0, 0, 0.11);
}

.order__field {
    margin: 10px 0;
}

.order__field--submit {
    display: flex;
    flex-direction: column;
}

.order__field-submit {
    height: 30px;
    width: 130px;
    margin: 5px 0;
    border-radius: 8px;
    background-color: rgba(143, 193, 227, 1);
    margin: 20px 0;
    align-self: center;
}

.uploader,
.order {
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
